@use "../colors" as c;
@use "../settings" as s;

#conversation-tab-list-tablet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  button {
    background-color: c.$secondary;
    padding: 10px;
    color: c.$primary;
    border: s.$borderSettings c.$primary;
    border-radius: s.$borderRadius;
    cursor: pointer;
  }

  .conversation-tabs {
    animation: slideFromLeft 0.5s;
    width: 210px;
    height: 700px;
    border: s.$borderSettings c.$primary;
  }
}
