@use "../colors" as c;
@use "../settings" as s;

#conversation-tab-list-tablet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .conversation-tabs {
    animation: slideFromLeft 0.5s;
    width: 210px;
    height: 700px;
    border: s.$borderSettings c.$primary;
  }
}
