@use "../colors" as c;
@use "../settings" as s;

#conversations-list-page {
  header {
    text-align: center;
    color: c.$secondary;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  #conversation-list {
    height: 600px;
    border: s.$borderSettings c.$primary;
    #conversation-list-window {
      width: 100%;
      height: 100%;
      display: flex;

      #conversation-messages-window {
        background-color: c.$thirdly;
        z-index: 0;
        width: 80%;
        height: 100%;
        #conversation-messages {
          height: 95%;
          overflow-y: scroll;
          display: flex;
          flex-direction: column;
        }

        #messages-header {
          background-color: c.$primary;
          position: sticky;
          top: 0;
          z-index: 2;
          padding: 20px;
          font-weight: bold;

          #edit-conversation-button {
            position: absolute;
            left: 85%;
            top: 10%;
            button {
              background-color: c.$secondary;
              border: s.$borderSettings c.$thirdly;
              border-radius: s.$borderRadius;
              color: c.$thirdly;
              padding: 10px;
            }
          }
        }

        #typing-message {
          background-color: c.$primary;
          border: s.$borderSettings;
          border-radius: s.$borderRadius;
          width: 30%;
          position: sticky;
          padding: 2px;
          left: 5px;
          bottom: 5px;
          z-index: 2;
          text-align: center;
          font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

          .ellipsis {
            opacity: 0;
            animation: ellipses 1.5s infinite;
          }

          .ellipsis:nth-child(1) {
            animation-delay: 0s;
          }

          .ellipsis:nth-child(2) {
            animation-delay: 0.5s;
          }

          .ellipsis:nth-child(3) {
            animation-delay: 1s;
          }
        }

        #conversation-message-input {
          height: 5%;
          background-color: c.$primary;

          input {
            width: 80%;
            padding: 5px;
            border: s.$borderSettings c.$secondary;
            border-radius: s.$borderRadius;
          }
        }
      }
      #conversation-tabs {
        background-color: c.$secondary;
        width: 20%;
        height: 100%;
        border-right: s.$borderSettings c.$primary;
      }
    }
  }
}
