@use "../colors" as c;
@use "../settings" as s;

.conversation-tabs {
  background-color: c.$secondary;
  width: 0;
  height: 100%;
  border-right: s.$borderSettings c.$primary;
  display: none;

  @include s.tabsForTablet {
    width: 220px;
    display: block;
  }
}
