@use "../colors" as c;
@use "../settings" as s;

#conversations-list-page {
  header {
    text-align: center;
    color: c.$secondary;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  #conversation-list {
    height: 800px;
    border: s.$borderSettings c.$primary;
    #conversation-list-window {
      width: 100%;
      height: 100%;
      display: flex;

      .conversation-tabs {
        display: none;
        @include s.tabsForTablet {
          width: 220px;
          display: block;
        }
      }

      #conversation-messages-window {
        background-color: c.$thirdly;
        z-index: 0;
        width: 100%;
        height: 100%;
        position: relative;

        #messages-header {
          background-color: c.$primary;
          position: sticky;
          top: 0;
          z-index: 2;
          padding: 0;
          font-weight: bold;
          height: 80px;

          #online-status {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;

            &.online {
              background-color: green;
            }

            &.offline {
              background-color: red;
            }
          }

          #conversation-tab-button {
            position: absolute;
            left: 10%;
            top: 10%;
            visibility: visible;

            @include s.tabsForTablet {
              visibility: hidden;
            }
          }

          #edit-conversation-button {
            position: absolute;
            left: 85%;
            top: 10%;
          }
        }

        #conversation-messages {
          height: 90%;
          overflow-y: scroll;
          display: flex;
          flex-direction: column;

          #no-conversation-selected-message {
            width: 50%;
            align-self: center;
            text-align: center;
            top: 350px;
            padding: 20px;
            position: absolute;
            background-color: c.$primary;
            border: s.$borderSettings c.$secondary;
            border-radius: s.$borderRadius;

            h5 {
              color: c.$secondary;
              font-family: Impact, Haettenschweiler, "Arial Narrow Bold",
                sans-serif;
            }
          }
        }

        #typing-message {
          background-color: c.$primary;
          border: s.$borderSettings;
          border-radius: s.$borderRadius;
          width: 30%;
          margin: 0;
          position: absolute;
          padding: 2px;
          left: 1px;
          bottom: 11%;
          z-index: 2;
          text-align: center;
          font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

          .ellipsis {
            opacity: 0;
            animation: ellipses 1.5s infinite;
          }

          .ellipsis:nth-child(1) {
            animation-delay: 0s;
          }

          .ellipsis:nth-child(2) {
            animation-delay: 0.5s;
          }

          .ellipsis:nth-child(3) {
            animation-delay: 1s;
          }
        }

        #conversation-message-input {
          height: 10%;
          background-color: c.$primary;
          display: flex;
          align-items: center;

          form#send-message-form {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            #message-div {
              width: 100%;

              input {
                width: 80%;
                padding: 5px;
                border: s.$borderSettings c.$secondary;
                border-radius: s.$borderRadius;
              }
            }
          }
        }
      }
    }
  }
}
