@use "../colors" as c;
@use "../settings" as s;

.direct-message-bubble {
  width: 30%;
  padding: 10px;
  margin: 15px;
  position: relative;
  word-wrap: break-word;

  &.self-bubble {
    background-color: blue;
    color: white;
    border-radius: s.$borderRadius;
    align-self: flex-end;
    animation: slideFromRight 0.5s;
  }

  &.other-bubble {
    background-color: white;
    border-radius: s.$borderRadius;
    animation: slideFromLeft 0.5s;
  }
}

.self-bubble::after {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -30px;
  right: 10%;
  border-top: 20px solid blue;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid blue;
}

.other-bubble::before {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -30px;
  left: 10%;
  border-top: 20px solid white;
  border-bottom: 20px solid transparent;
  border-left: 20px solid white;
  border-right: 20px solid transparent;
}
