@use "colors" as c;
@use "settings" as s;

.form-div {
  text-align: center;

  label {
    color: c.$secondary;
    display: block;
    font-size: large;
    font-weight: bold;
  }

  .form-input {
    width: 100%;
    height: 2rem;
    font-size: large;
    text-align: center;
    border-radius: s.$borderRadius;
    background-color: #f2eaed;
    border: s.$borderSettings rgb(79, 0, 37);
    outline: none;
    color: rgb(223, 88, 135);

    &:hover {
      border: s.$borderSettings c.$primary;
      background-color: c.$inputHover;
    }

    &:focus {
      border: s.$borderSettings c.$secondary;
      background-color: c.$inputFocus;
    }
  }

  .form-textarea {
    width: auto;
    font-size: large;
    text-align: center;
    border-radius: s.$borderRadius;
    margin: auto;
    background-color: #f2eaed;
    border: s.$borderSettings rgb(79, 0, 37);
    outline: none;
    color: rgb(223, 88, 135);

    &:hover {
      border: s.$borderSettings c.$primary;
      background-color: c.$inputHover;
    }

    &:focus {
      border: s.$borderSettings c.$secondary;
      background-color: c.$inputFocus;
    }
  }
}

form {
  input[type="search"] {
    width: 310px;
    height: 50px;
    font-size: 20px;
    border: s.$borderSettings;
    background-color: c.$fourthly;
    border-color: c.$secondary;

    &:hover {
      background-color: c.$inputHover;
    }

    &:focus {
      background-color: c.$inputFocus;
    }
  }

  .input-bottom-with-results {
    border-radius: s.$borderRadius s.$borderRadius 0px 0px;
  }

  .input-bottom-without-results {
    border-radius: s.$borderRadius;
  }

  .show-results {
    max-height: 150px;
    height: auto;
    overflow: scroll;
  }

  .search-bar-results {
    position: absolute;
    width: 310px;
    z-index: 1;
  }

  .search-result {
    background-color: rgb(240, 173, 240);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px;

    &:hover {
      background-color: rgb(240, 135, 240);
      color: c.$secondary;
    }
  }

  .list-bottom {
    border-radius: 0px 0px s.$borderRadius s.$borderRadius;
  }

  .submit-button {
    background-color: c.$secondary;
    color: white;
    padding: 10px;
    border: s.$borderSettings c.$primary;
    border-radius: s.$borderRadius;

    &:hover {
      background-color: c.$thirdly;
      color: black;
    }

    &:active {
      background-color: antiquewhite;
    }
  }

  #error-message {
    color: c.$error;
  }
}

#search-results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
