// initial colors
$primary: #e988e9;
$secondary: #9a2270;
$thirdly: #e1c1d6;
$fourthly: #f2eaed;
$error: rgb(222, 51, 51);
$success: rgb(3, 247, 3);

// card colors
$cardHover: rgba(200, 0, 87, 0.5);

// form input colors
$inputHover: #fcb8e4;
$inputFocus: #edd4e5;

// link colors
$linkPrimary: purple;
$linkHover: rgb(122, 108, 223);
$linkActive: rgb(64, 54, 138);
