$secondary: #9a2270;
$primary: #e988e9;
$thirdly: #e1c1d6;

// form input colors
$inputHover: #fcb8e4;
$inputFocus: #edd4e5;

// link colors
$linkPrimary: purple;
$linkHover: rgb(122, 108, 223);
$linkActive: rgb(64, 54, 138);
