@use "colors" as c;
@use "settings" as s;

.direct-message-bubble {
  width: 30%;
  padding: 10px;
  margin: 10px;
  position: relative;

  &.self-bubble {
    background-color: blue;
    color: white;
    border-radius: s.$borderRadius;
    align-self: flex-end;
  }

  &.other-bubble {
    background-color: white;
    border-radius: s.$borderRadius;
  }
}

.self-bubble::after {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  top: 77%;
  left: 70%;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid blue;
}

.other-bubble::before {
  content: " ";
  z-index: -1;
  width: 0;
  height: 0;
  position: absolute;
  top: 77%;
  right: 70%;
  border-top: 20px solid white;
  border-bottom: 20px solid transparent;
  border-left: 20px solid white;
  border-right: 20px solid transparent;
}
