@use "colors" as c;

#small-loading-message-background {
  #small-loading-message-content {
    background-color: white;
    border: 2px solid c.$primary;
    border-radius: 30px;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
