@use "colors" as c;
@use "settings" as s;

#nav-bar {
  #logo {
    text-align: center;
    background-color: c.$primary;
    padding: 20px 10px;
    margin: 0px 0px 10px;
    border: s.$borderSettings c.$secondary;
    border-radius: s.$borderRadius;

    h1 {
      a {
        text-decoration: none;
        color: c.$linkPrimary;
        &:hover {
          color: c.$linkHover;
          text-decoration: underline;
        }

        &:active {
          color: c.$linkActive;
          text-decoration: underline;
        }
      }
    }
  }

  #navigation-buttons {
    margin-bottom: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    .tabs {
      background-color: c.$primary;
      border: s.$borderSettings c.$secondary;

      display: flex;
      justify-content: space-evenly;
      button {
        cursor: pointer;
        font-weight: bold;
      }

      &#logged-out-tabs {
        button {
          padding: 20px;
          background: none;
          border: none;
          &:hover {
            background-color: c.$thirdly;
            color: c.$secondary;
            text-decoration: underline;
          }
        }
      }

      #scrollable-tabs {
        display: flex;
        justify-content: flex-start;
        width: 600px;
        height: 100px;
        overflow: scroll;

        .navlink {
          height: 100%;
          position: relative;

          button {
            padding: 20px;
            background: none;
            border: none;
            height: 100%;

            &:hover {
              background-color: c.$thirdly;
              color: c.$secondary;
              text-decoration: underline;
            }
          }

          .notification-label {
            position: absolute;
            left: 80px;
            bottom: 50px;
            background-color: rgb(224, 23, 23);
            padding: 5px;

            text-align: center;
            border-radius: 50px;
            color: white;
            border: solid rgb(141, 7, 7);
            z-index: 20;
            font-weight: bold;
          }
        }
      }

      #user-tabs {
        display: flex;
        align-items: center;

        #user-button {
          text-align: center;
          border-radius: s.$borderRadius;
          padding: 5px;
          width: 30px;
          height: 30px;

          &:hover {
            border-color: rgb(70, 182, 246);
            color: rgb(70, 182, 246);
          }
        }

        #logout-button {
          background: none;
          border: none;
          font-weight: bold;
          text-decoration: underline;
          color: c.$thirdly;

          &:hover {
            color: c.$secondary;
          }
        }
      }
    }
  }
}
