@use "colors" as c;

.request-list {
  text-align: center;
  height: 500px;

  h2.list-title {
    color: c.$secondary;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
  }

  h3.message {
    font-style: italic;
  }
}
