@use "settings" as s;
@use "colors" as c;

h1#request-list-page-header {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: c.$secondary;
}

#request-list-page {
  display: flex;
  justify-content: flex-start;
  background-color: c.$thirdly;
  border: s.$borderSettings c.$secondary;
  height: 600px;

  div#request-tabs {
    border-right: s.$borderSettings c.$secondary;
    background-color: c.$primary;
    width: 300px;
    height: 100%;
  }

  #request-list {
    padding: 10px;
    margin: auto;
    width: 600px;

    header#request-list-header {
      text-align: center;
    }

    #requests {
      height: 500px;
    }
  }
}
