@use "colors" as c;

// borders
$borderRadius: 20px;
$borderSettings: 2px solid;

// shadows
$boxShadowSettings: 5px 5px 5px black;
$boxShadowHover: 5px 5px 5px rgba(235, 11, 201, 0.3);

// mixins
// only allow at larger widths
@mixin tablet {
  @media (min-width: 1000px) {
    @content;
  }
}

// only allow at smaller widths
@mixin desktop {
  @media (max-width: 1000px) {
    @content;
  }
}

// animations
// spins a component 360 degrees
@keyframes spinner {
  0% {
    transform: rotate(0turn);
  }

  20% {
    transform: rotate(0.2turn);
  }

  40% {
    transform: rotate(0.4turn);
  }

  60% {
    transform: rotate(0.6turn);
  }

  80% {
    transform: rotate(0.8turn);
  }

  100% {
    transform: rotate(1turn);
  }
}

// constantly causes an element to disappear then reappear
@keyframes ellipses {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

// causes an element to grow to full size on initial render
@keyframes notificationPopUp {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

// causes an element to grow to flash $error color
@keyframes errorFlash {
  0% {
    background-color: c.$error;
  }

  100% {
    background-color: white;
  }
}
