// borders
$borderRadius: 20px;
$borderSettings: 2px solid;

// shadows
$boxShadowSettings: 5px 5px 5px black;
$boxShadowHover: 5px 5px 5px rgba(235, 11, 201, 0.3);

// mixins
@mixin tablet {
  @media (min-width: 710px) {
    @content;
  }
}
