@use "colors" as c;
@use "settings" as s;

#signup-page {
  display: flex;
  justify-content: center;

  #signup-form {
    background-color: c.$thirdly;
    border: s.$borderSettings c.$secondary;
    border-radius: s.$borderRadius;
    box-shadow: 3px 3px 3px;
    padding: 20px;
    margin: 0 10rem;
    width: 400px;
    display: flex;
    justify-content: center;
    text-align: center;

    h1 {
      color: c.$secondary;
    }

    #interests-div {
      background-color: c.$fourthly;
      border: s.$borderSettings c.$secondary;
      border-radius: s.$borderRadius;
      height: 200px;
      overflow-y: auto;

      label {
        display: block;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
        margin-bottom: 5px;

        &:hover {
          color: c.$secondary;
        }

        &:active {
          color: c.$primary;
        }
      }
    }
  }
}
