@use "colors" as c;
@use "settings" as s;

#user-profile-page {
  #user-profile-introduction {
    background-color: c.$primary;
    padding: 25px;
    border-radius: s.$borderRadius;
    border: s.$borderSettings rgb(227, 20, 192);

    .profile-section {
      margin-bottom: 10px;
    }

    #user-header {
      background-color: c.$thirdly;
      padding: 20px;
      display: flex;
      justify-content: start;
      border: s.$borderSettings c.$secondary;
      border-radius: s.$borderRadius;

      h2 {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }

      #profile-pic {
        border: s.$borderSettings;
        width: 50px;
        height: 50px;
        margin: 10px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    #user-biography {
      h3 {
        text-decoration: underline;
      }
      background-color: c.$thirdly;
      padding: 5px;
      border: s.$borderSettings c.$secondary;
      border-radius: s.$borderRadius;
      font-family: "Times New Roman", Times, serif;
    }

    #interests-list {
      background-color: c.$thirdly;
      padding: 5px;
      border: s.$borderSettings c.$secondary;
      border-radius: s.$borderRadius;
      li {
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
}
