@use "colors" as c;
@use "settings" as s;

.user-search-card {
  background-color: c.$primary;
  border: s.$borderSettings;
  border-radius: s.$borderRadius;
  border-color: c.$secondary;
  padding: 3px;
  margin: 10px;

  .header {
    display: flex;
    justify-content: start;
    align-items: center;

    h3 {
      margin-left: 5px;
      color: c.$fourthly;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: bold;
    }

    .user-logo {
      border: s.$borderSettings;
      border-radius: s.$borderRadius;
      padding: 5px;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  ul {
    h3 {
      color: c.$fourthly;
      text-decoration: underline;
    }

    li {
      color: c.$fourthly;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
  }
}
