@use "../colors.scss" as c;
@use "../settings.scss" as s;

#block-user-form-content {
  padding: 10px;
  background-color: c.$fourthly;
  border: 2px solid c.$primary;
  border-radius: 30px;
  width: 300px;
  word-wrap: break-word;

  h2,
  h4 {
    text-align: center;
    color: c.$secondary;
    font-family: Arial, Helvetica, sans-serif;
  }

  #block-info-list {
    height: 200px;
    overflow-x: scroll;
  }

  li {
    font-family: Georgia, "Times New Roman", Times, serif;
  }

  .button-row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}
