@use "../colors" as c;
@use "../settings" as s;

#edit-user-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  header {
    text-align: center;
    color: c.$secondary;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  #edit-user-form {
    border: s.$borderSettings c.$secondary;
    border-radius: s.$borderRadius;
    width: 40%;
    padding: 20px;
    background-color: c.$thirdly;

    #buttons-row {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
