@use "../colors" as c;
@use "../settings" as s;

.user-search-card {
  background-color: c.$primary;
  border: s.$borderSettings;
  border-radius: s.$borderRadius;
  border-color: c.$secondary;
  text-decoration: none;
  padding: 3px;
  margin: 10px;
  width: 200px;
  box-shadow: s.$boxShadowSettings;

  &:hover {
    background-color: c.$cardHover;
    box-shadow: s.$boxShadowHover;
    transition: 0.1s ease-in-out;
  }

  .header {
    display: flex;
    justify-content: start;
    align-items: center;

    h3 {
      margin-left: 5px;
      color: c.$fourthly;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: bold;
      overflow-x: scroll;
      scrollbar-width: none;
    }

    .user-logo {
      border: s.$borderSettings;
      border-radius: s.$borderRadius;
      padding: 5px;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .interest-list {
    border: s.$borderSettings c.$secondary;
    border-radius: s.$borderRadius;

    h3 {
      color: c.$fourthly;
      text-decoration: underline;
      text-align: center;
      margin: 0;
    }

    ul {
      background-color: c.$secondary;
      margin: 0;
      height: 100px;
      overflow: scroll;
      border-radius: 0 0 18px 18px;

      li {
        color: c.$fourthly;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    }
  }
}
