@use "../colors" as c;
@use "../settings" as s;

#users-search-page {
  h1 {
    color: c.$secondary;
    text-align: center;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }

  #not-found-message {
    font-style: italic;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
