@use "../colors.scss" as c;
@use "../settings.scss" as s;

#create-group-form-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  header {
    color: c.$secondary;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }

  #create-group-form {
    text-align: center;
    background-color: c.$thirdly;
    padding: 20px;
    border: s.$borderSettings c.$secondary;
    border-radius: s.$borderRadius;
  }
}
