@use "../colors" as c;
@use "../settings" as s;

#group-page {
  header {
    color: c.$secondary;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  h2 {
    text-align: center;
  }

  div#group-info {
    background-color: c.$primary;
    padding: 10px;
    border: s.$borderSettings;
    border-radius: s.$borderRadius;
    color: purple;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;

    #group-about {
      display: flex;
      justify-content: center;
      section {
        background-color: c.$secondary;
        color: c.$primary;
        padding: 5px;
        border: s.$borderSettings;
        border-radius: s.$borderRadius;
        h4 {
          font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
          font-size: larger;
        }

        &#about-group {
          width: 70%;
        }

        &#group-interests {
          width: 50%;

          #group-interest-list-items {
            height: 100px;
            overflow: scroll;
          }
        }
      }
    }
  }

  #group-users {
    h2 {
      text-decoration: underline;
      color: c.$secondary;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }

    #user-list {
      display: flex;
      justify-content: center;
    }
  }
}
