@use "../colors" as c;
@use "../settings" as s;

.group-search-card {
  background-color: c.$thirdly;
  color: c.$secondary;
  width: 200px;
  padding: 0;
  margin: 10px;
  border: s.$borderSettings c.$secondary;
  border-radius: s.$borderRadius;
  transition: 0.1s ease-in-out;
  box-shadow: s.$boxShadowSettings;

  &:hover {
    background-color: c.$primary;
    color: white;
    transform: scale(1.05);
    box-shadow: s.$boxShadowHover;
  }

  @include s.tablet {
    width: 400px;
  }

  header {
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  .group-info {
    @include s.tablet {
      display: flex;
      justify-content: center;
    }

    .data-list {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      width: 100%;

      h3 {
        margin: 0;
      }

      ul {
        text-align: center;
        padding: 0 10px;
        background-color: c.$secondary;
        color: white;
        border: s.$borderSettings;
        border-radius: s.$borderRadius;
        margin: auto;
        height: 60px;
        width: 80%;
        overflow: scroll;
        li {
          list-style-type: none;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
