@use "../colors" as c;
@use "../settings" as s;

#group-search-page {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-align: center;
      color: c.$secondary;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    }

    #group-search-box {
      @include s.desktop {
        display: none;
      }
    }

    button#filter-groups-on-tablet {
      @include s.tablet {
        display: none;
      }
    }
  }

  #empty-list {
    text-align: center;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
}
