@use "../colors" as c;
@use "../settings" as s;
.request-list {
  text-align: center;
  width: 100%;
  height: 100%;

  header#request-list-header {
    text-align: center;
    background-color: c.$primary;
    height: 100px;
    border-bottom: s.$borderSettings c.$secondary;

    h2 {
      margin: 0;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    }

    .tab-button {
      position: absolute;
      left: 1%;
      display: block;

      @include s.tabsForTablet {
        display: none;
      }
    }
  }

  h2.list-title {
    color: c.$secondary;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
  }

  h3.message {
    font-style: italic;
  }

  #request-list-window {
    width: 100%;
    height: 498px;
    overflow-y: scroll;

    #request-card-list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
