@use "../colors.scss" as c;
@use "../settings.scss" as s;

#group-conversation-page {
  h1,
  h3 {
    text-align: center;
    color: c.$secondary;
    a {
      text-decoration: none;
      &:hover {
        color: c.$secondary;
        color: c.$primary;
      }
    }
  }

  #group-convertation-message-window {
    margin: 10px;
    display: flex;
    justify-content: center;
  }
}
