@use "../colors" as c;
@use "../settings" as s;

#login-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  #login-form {
    width: 400px;
  }
}
