@use "../colors" as c;
@use "../settings" as s;

#signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  #signup-form {
    background-color: c.$thirdly;
    border: s.$borderSettings c.$secondary;
    border-radius: s.$borderRadius;
    box-shadow: 3px 3px 3px;
    margin: 0 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

    h1,
    h3 {
      color: c.$secondary;
    }

    form {
      width: 100%;

      #form-inputs {
        width: 100%;

        @include s.tablet {
          display: flex;
          justify-content: space-between;
        }

        #left-side {
          @include s.tablet {
            margin: auto;
            width: 40%;
          }
        }

        #right-side {
          width: auto;
          margin: auto;
          display: flex;
          flex-direction: column;
          vertical-align: middle;

          #interests-div {
            background-color: c.$fourthly;
            border: s.$borderSettings c.$secondary;
            border-radius: s.$borderRadius;
            height: 200px;
            width: auto;
            overflow: scroll;

            label {
              display: block;
              font-family: "Trebuchet MS", "Lucida Sans Unicode",
                "Lucida Grande", "Lucida Sans", Arial, sans-serif;
              margin-bottom: 5px;

              &:hover {
                color: c.$secondary;
              }

              &:active {
                color: c.$primary;
              }
            }
          }
        }
      }
    }
  }
}
