@use "../colors" as c;
@use "../settings" as s;

#signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  @include s.tablet {
    height: 100%;
  }

  @include s.desktop {
    margin: 10px 0px;
  }

  #signup-form {
    height: auto;
    form {
      width: 450px;
      margin: 10px;
      transition: width 0.5s ease;
      @include s.tablet {
        width: 925px;
      }

      #form-inputs {
        width: 100%;

        @include s.tablet {
          display: flex;
          justify-content: space-between;
        }

        #left-side {
          @include s.tablet {
            margin: auto;
            width: 40%;
          }
        }

        #right-side {
          width: auto;
          margin: auto;
          display: flex;
          flex-direction: column;
          vertical-align: middle;
        }
      }
    }
  }
  span#auth-navigate {
    color: c.$secondary;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    button#link-button {
      background: none;
      border: none;
      font-weight: bold;
      text-decoration: underline;
      color: c.$linkPrimary;
      padding: 5px;
      cursor: pointer;

      &:hover {
        color: c.$linkHover;
      }
    }
  }
}
