@use "../colors" as c;
@use "../settings" as s;

#signup-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  #signup-form {
    width: 100%;

    form {
      width: 100%;

      #form-inputs {
        width: 100%;

        @include s.tablet {
          display: flex;
          justify-content: space-between;
        }

        #left-side {
          @include s.tablet {
            margin: auto;
            width: 40%;
          }
        }

        #right-side {
          width: auto;
          margin: auto;
          display: flex;
          flex-direction: column;
          vertical-align: middle;
        }
      }
    }
  }
}
